# Python Alıştırmalar

#### Görev 1:  Verilen değerlerin veri yapılarını inceleyiniz.Type() metodunu kullanınız.

In [1]:
x = 8

In [2]:
type(x)

int

In [3]:
y = 3.2

In [4]:
type(y)

float

In [5]:
z = 8j + 18

In [6]:
type(z)

complex

In [7]:
a = "Hello World!"

In [8]:
type(a)

str

In [9]:
b = True

In [10]:
type(b)

bool

In [11]:
 c = 23 < 22

In [12]:
type(c)

bool

In [13]:
l = [1, 2, 3, 4]

In [14]:
type(l)

list

In [15]:
d = {
    "Name" : "Jake",
    "Age" : 27,
    "Address" : "Downtown"
}

In [16]:
type(d)

dict

In [17]:
t = ("Machine Learning", "Data Science")

In [18]:
type(t)

tuple

In [19]:
s = {"Python", "Machine Learning", "Data Science"}

In [20]:
type(s)

set

#### Görev 2:  Verilen string ifadenin tüm harflerini büyük harfe çeviriniz. Virgül ve nokta yerine space koyunuz, kelime kelime ayırınız.

In [21]:
text="The goal is to turn data into infromation, and information into insight"

In [22]:
text.upper().replace(",", " ").replace(".", " ").split()

['THE',
 'GOAL',
 'IS',
 'TO',
 'TURN',
 'DATA',
 'INTO',
 'INFROMATION',
 'AND',
 'INFORMATION',
 'INTO',
 'INSIGHT']

#### Görev 3:  Verilen listeye aşağıdaki adımları uygulayınız.

In [23]:
lst=["D","A","T","A","S","C","I","E","N","C","E"]

Adım1: Verilen listenin eleman sayısına bakınız.

In [24]:
len(lst)

11

Adım2: Sıfırıncı ve onuncu indeksteki elemanları çağırınız.

In [25]:
lst[0] ,lst[10]

('D', 'E')

Adım3: Verilen liste üzerinden ["D", "A", "T", "A"] listesi oluşturunuz.

In [26]:
newlst= lst[0:4]
newlst

['D', 'A', 'T', 'A']

Adım4: Sekizinci indeksteki elemanı siliniz.

In [27]:
lst.pop(8)
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E']

Adım5: Yeni bir eleman ekleyiniz.

In [28]:
lst.append("X")
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E', 'X']

Adım6: Sekizinci indekse "N" elemanını tekrar ekleyiniz.

In [29]:
lst.insert(8,"N")
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E', 'X']

#### Görev 4:  Verilen sözlük yapısına aşağıdaki adımları uygulayınız.

In [30]:
dict= {
    "Christian" : ["America",18],
    "Daisy" : ["England",12],
    "Antonio" : ["Spain",22],
    "Dante" : ["Italy",25],
}

Adım 1: Key değerlerine erişiniz.

In [31]:
dict.keys()

dict_keys(['Christian', 'Daisy', 'Antonio', 'Dante'])

Adım 2: Value'lara erişiniz.

In [32]:
dict.values()

dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 25]])

Adım 3: Daisy key'ine ait 12 değerini 13 olarak güncelleyiniz.

In [33]:
dict["Daisy"][1]=13
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25]}

Adım 4: Key değeri Ahmet value değeri [Turkey,24] olan yeni bir değer ekleyiniz

In [34]:
dict["Ahmet"] = ["Turkey",24]
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

Adım 5: Antonio'yu dictionary'den siliniz.

In [35]:
dict.pop("Antonio")

['Spain', 22]

In [36]:
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

#### Görev 5 : Argüman olarak bir liste alan, listenin içerisindeki tek ve çift sayıları ayrı listelere atayan ve bu listeleri return eden  fonksiyon yazınız

In [37]:
l=[2,13,18,93,22]

In [38]:
def func(list):
    cift=[]
    tek=[]
    
    for i in list:
        if i%2==0:
            cift.append(i)
        else:
            tek.append(i)
    return cift,tek

In [39]:
func(l)

([2, 18, 22], [13, 93])

#### Görev 6 : Aşağıda verilen listede mühendislik ve tıp fakülterinde dereceye giren öğrencilerin isimleri bulunmaktadır. Sırasıyla ilk üç öğrenci mühendislik fakültesinin başarı sırasını temsil ederken son üç öğrencide tıp fakültesi öğrenci sırasına aittir. Enumarate kullanarak öğrenci derecelerini fakülte özelinde yazdırınız.

In [40]:
ogrenciler=["Ali","Veli","Ayşe","Talat","Zeynep","Ece"]

In [41]:
for index, ogrenci in enumerate(ogrenciler):
    if index < 3:
        index += 1
        print("Mühendislik Fakültesi",index,". öğrenci: ",ogrenci)
    else:
        index -= 2
        print("Tıp Fakültesi",index,". öğrenci: ",ogrenci)

Mühendislik Fakültesi 1 . öğrenci:  Ali
Mühendislik Fakültesi 2 . öğrenci:  Veli
Mühendislik Fakültesi 3 . öğrenci:  Ayşe
Tıp Fakültesi 1 . öğrenci:  Talat
Tıp Fakültesi 2 . öğrenci:  Zeynep
Tıp Fakültesi 3 . öğrenci:  Ece

#### Görev 7 : Aşağıda 3 adet liste verilmiştir. Listelerde sırası ile bir dersin kodu, kredisi ve kontenjan bilgileri yer almaktadır. Zip kullanarak ders bilgilerini bastırınız.

In [42]:
ders_kodu = ["CMP1005","PSY1001","HUK1005","SEN2204"]
kredi = [3,4,2,4]
kontenjan=[30,75,150,25]

In [43]:
for ders_kodu,kredi,kontenjan in (zip(ders_kodu,kredi,kontenjan)):
    print(f"Kredisi {kredi} olan {ders_kodu} kodlu dersin kontenjanı {kontenjan} kişidir")

Kredisi 3 olan CMP1005 kodlu dersin kontenjanı 30 kişidir
Kredisi 4 olan PSY1001 kodlu dersin kontenjanı 75 kişidir
Kredisi 2 olan HUK1005 kodlu dersin kontenjanı 150 kişidir
Kredisi 4 olan SEN2204 kodlu dersin kontenjanı 25 kişidir

#### Görev 8 : Aşağıda 2 adet set verilmiştir. Sizden istenilen eğer 1. küme 2. kümeyi kapsiyor ise ortak elemanlarını eğer kapsamıyor ise 2. kümenin 1. kümeden farkını yazdıracak fonksiyonu tanımlamanız beklenmektedir.

In [44]:
kume1 = set(["data","python"])
kume2= set(["data","function","qcut","lambda","python","miuul"])

In [45]:
def setfunction(set1,set2):
    if set1.issuperset(set2):
        print(set1.intersection(set2))
    else:
        print(set2.difference(set1))

In [46]:
setfunction(kume1,kume2)

{'function', 'qcut', 'miuul', 'lambda'}

# List Comprehension

#### Görev 1 :  List Comprehension yapısı kullanarak car_crashes verisindeki  numeric değişkenlerin isimlerini büyük harfe çeviriniz ve başına NUM ekleyiniz.

In [47]:
import seaborn as sns
import pandas as pd

In [48]:
pd.set_option("display.max_rows",None)
pd.set_option("display.max_columns",None)
pd.set_option("display.width",500)

In [49]:
df=sns.load_dataset("car_crashes")
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous', 'ins_premium', 'ins_losses', 'abbrev'], dtype='object')

In [50]:
df.info

<bound method DataFrame.info of     total  speeding  alcohol  not_distracted  no_previous  ins_premium  ins_losses abbrev
0    18.8     7.332    5.640          18.048       15.040       784.55      145.08     AL
1    18.1     7.421    4.525          16.290       17.014      1053.48      133.93     AK
2    18.6     6.510    5.208          15.624       17.856       899.47      110.35     AZ
3    22.4     4.032    5.824          21.056       21.280       827.34      142.39     AR
4    12.0     4.200    3.360          10.920       10.680       878.41      165.63     CA
5    13.6     5.032    3.808          10.744       12.920       835.50      139.91     CO
6    10.8     4.968    3.888           9.396        8.856      1068.73      167.02     CT
7    16.2     6.156    4.860          14.094       16.038      1137.87      151.48     DE
8     5.9     2.006    1.593           5.900        5.900      1273.89      136.05     DC
9    17.9     3.759    5.191          16.468       16.826      1160.13      144.18     FL
10   15.6     2.964    3.900          14.820       14.508       913.15      142.80     GA
11   17.5     9.450    7.175          14.350       15.225       861.18      120.92     HI
12   15.3     5.508    4.437          13.005       14.994       641.96       82.75     ID
13   12.8     4.608    4.352          12.032       12.288       803.11      139.15     IL
14   14.5     3.625    4.205          13.775       13.775       710.46      108.92     IN
15   15.7     2.669    3.925          15.229       13.659       649.06      114.47     IA
16   17.8     4.806    4.272          13.706       15.130       780.45      133.80     KS
17   21.4     4.066    4.922          16.692       16.264       872.51      137.13     KY
18   20.5     7.175    6.765          14.965       20.090      1281.55      194.78     LA
19   15.1     5.738    4.530          13.137       12.684       661.88       96.57     ME
20   12.5     4.250    4.000           8.875       12.375      1048.78      192.70     MD
21    8.2     1.886    2.870           7.134        6.560      1011.14      135.63     MA
22   14.1     3.384    3.948          13.395       10.857      1110.61      152.26     MI
23    9.6     2.208    2.784           8.448        8.448       777.18      133.35     MN
24   17.6     2.640    5.456           1.760       17.600       896.07      155.77     MS
25   16.1     6.923    5.474          14.812       13.524       790.32      144.45     MO
26   21.4     8.346    9.416          17.976       18.190       816.21       85.15     MT
27   14.9     1.937    5.215          13.857       13.410       732.28      114.82     NE
28   14.7     5.439    4.704          13.965       14.553      1029.87      138.71     NV
29   11.6     4.060    3.480          10.092        9.628       746.54      120.21     NH
30   11.2     1.792    3.136           9.632        8.736      1301.52      159.85     NJ
31   18.4     3.496    4.968          12.328       18.032       869.85      120.75     NM
32   12.3     3.936    3.567          10.824        9.840      1234.31      150.01     NY
33   16.8     6.552    5.208          15.792       13.608       708.24      127.82     NC
34   23.9     5.497   10.038          23.661       20.554       688.75      109.72     ND
35   14.1     3.948    4.794          13.959       11.562       697.73      133.52     OH
36   19.9     6.368    5.771          18.308       18.706       881.51      178.86     OK
37   12.8     4.224    3.328           8.576       11.520       804.71      104.61     OR
38   18.2     9.100    5.642          17.472       16.016       905.99      153.86     PA
39   11.1     3.774    4.218          10.212        8.769      1148.99      148.58     RI
40   23.9     9.082    9.799          22.944       19.359       858.97      116.29     SC
41   19.4     6.014    6.402          19.012       16.684       669.31       96.87     SD
42   19.5     4.095    5.655          15.990       15.795       767.91      155.57     TN
43   19.4     7.760    7.372          17.654       16.878      1004.75      156.83     TX
44   11.3     4.859    1.808           9.944       10.848       809.38      109.48     UT
45   13.6     4.080    4.080          13.056       12.920       716.20      109.61     VT
46   12.7     2.413    3.429          11.049       11.176       768.95      153.72     VA
47   10.6     4.452    3.498           8.692        9.116       890.03      111.62     WA
48   23.8     8.092    6.664          23.086       20.706       992.61      152.56     WV
49   13.8     4.968    4.554           5.382       11.592       670.31      106.62     WI
50   17.4     7.308    5.568          14.094       15.660       791.14      122.04     WY>

In [51]:
["NUM_" + col.upper() if df[col].dtype != "O" else col.upper() for col in df.columns]

['NUM_TOTAL',
 'NUM_SPEEDING',
 'NUM_ALCOHOL',
 'NUM_NOT_DISTRACTED',
 'NUM_NO_PREVIOUS',
 'NUM_INS_PREMIUM',
 'NUM_INS_LOSSES',
 'ABBREV']

#### Görev 2 :  List Comprehension yapısı kullanarak car_crashes verisinde isminde "no" barındırmayan değişkenlerin isimlerinin sonuna "FLAG" yazınız.

In [52]:
[col.upper() + "FLAG" if "no" not in col else col.upper() for col in df.columns]

['TOTALFLAG',
 'SPEEDINGFLAG',
 'ALCOHOLFLAG',
 'NOT_DISTRACTED',
 'NO_PREVIOUS',
 'INS_PREMIUMFLAG',
 'INS_LOSSESFLAG',
 'ABBREVFLAG']

#### Görev 3 :  List Comprehension yapısı kullanarak aşağıda verilen değişken isimlerinden FARKLI olan değişkenlerin isimlerini seçiniz ve yeni bir dataframe oluşturunuz.

In [53]:
og_list = ["abbrev","no_previous"]

In [54]:
new_cols = [col for col in df.columns if col not in og_list]

In [55]:
new_df = df[new_cols]

In [56]:
new_df.head()

   total  speeding  alcohol  not_distracted  ins_premium  ins_losses
0   18.8     7.332    5.640          18.048       784.55      145.08
1   18.1     7.421    4.525          16.290      1053.48      133.93
2   18.6     6.510    5.208          15.624       899.47      110.35
3   22.4     4.032    5.824          21.056       827.34      142.39
4   12.0     4.200    3.360          10.920       878.41      165.63